@import "../variables";

.cont__chiSiamo {
    width: 75%;
    max-width: $max_screenWidth;
    margin: 75px auto;
    display: flex;
    flex-direction: column;

    & > h3 {
        color: $main_color;
        font-size: 36px;
        font-weight: 500;
        margin-top: unset;

        &:last-of-type {
            margin-top: 30px;
        }
    }

    & > ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;

        & > li > img {
            width: 250px;
            height: 250px;
            object-fit: contain;
        }
    }

    & > p {
        color: #1d1d1d;
        font-weight: 400;
        line-height: 30px;
        font-size: 14px;

        &:last-of-type {
            font-style: italic;
        }

        & > b {
            color: $secondary_color;

            &::before {
                content: "-";
                margin-right: 10px;
            }
        }
    }
}