.cont__footer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.cont__footer_chat {
  width: fit-content;
  position: fixed;
  bottom: 20px;
  right: 25px;
  display: flex;
  flex-direction: column;
}
.cont__footer_chat_button {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  padding: 12.5px;
  background-color: #fff;
  box-shadow: 0px 0px 3px #1d1d1d;
  cursor: pointer;
  transition: transform 0.8s;
  margin-left: auto;
  border: none;
}
.cont__footer_chat_button:hover {
  transform: scale(0.95);
}
.cont__footer_chat_button > img {
  width: 100%;
  height: 100%;
}
.cont__footer_chat_list {
  width: 200px;
  height: fit-content;
  display: none;
  flex-direction: column;
  gap: 20px;
}
.cont__footer_chat_list > li {
  width: 100%;
  padding: 15px 15px;
  background-color: #fff;
  border-radius: 7.5px;
  box-shadow: 0px 0px 3px #1d1d1d;
  cursor: pointer;
  color: #363636;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.cont__footer_chat_list > li > img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.cont__footer_under {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6200ff;
}
.cont__footer_under > p {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}
@media (max-width: 780px) {
  .cont__footer_under > p {
    text-align: center;
  }
}
.cont__footer_under > p > a {
  text-decoration: underline;
}
.cont__footer_inside {
  width: 80%;
  max-width: 1280px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
}
@media (max-width: 780px) {
  .cont__footer_inside {
    flex-direction: column;
    width: 100%;
  }
}
.cont__footer_inside_menu {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 780px) {
  .cont__footer_inside_menu {
    width: 85%;
    margin: 0 auto;
  }
}
.cont__footer_inside_menu > ul {
  width: fit-content;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-top: unset;
}
@media (max-width: 780px) {
  .cont__footer_inside_menu > ul {
    width: 45%;
  }
}
.cont__footer_inside_menu > ul > li {
  color: #1d1d1d;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1.5px;
}
.cont__footer_inside_menu > ul > li > a {
  color: rgb(196, 194, 194);
  font-size: 14px;
  font-weight: 400;
  transition: color 0.8s;
}
.cont__footer_inside_menu > ul > li > a:hover {
  color: #009245;
}
.cont__footer_inside_info {
  width: 20%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
@media (max-width: 780px) {
  .cont__footer_inside_info {
    width: 100%;
  }
}
.cont__footer_inside_info_logo {
  width: 75%;
}
.cont__footer_inside_info_logo > img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}
.cont__footer_inside_info_social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.cont__footer_inside_info_social svg {
  width: 25px;
  height: 25px;
  object-fit: contain;
  transition: fill 0.8s;
  cursor: pointer;
  fill: #009245;
}
.cont__footer_inside_info_social svg:hover {
  fill: #009245;
}

/*# sourceMappingURL=footer.module.css.map */
